@font-face {
    font-family: "Roboto Condensed";
    src:
        local("Roboto Condensed"),
        url("../fonts/RobotoCondensed/RobotoCondensed-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Condensed";
    src:
        local("Roboto Condensed"),
        url("../fonts/RobotoCondensed/RobotoCondensed-Medium.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
